body {
    background-color: #1a1a1a;
    color: #ffffff;
    margin: 0;
}

#title, #description {
    text-align: center;
}

main {
    margin: auto 0;
}

img {
  display: block;
  padding: 10px;
}

#img-div {
    width: 100%;
    margin: auto 0;
    background-color: #313131;
}

#image {
  max-width: 100%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}

figcaption {
    text-align: center;
}

ul {
    width: 80%;
    max-width: 800px;
    margin: 20px auto;
}

.year::after {
  content: " - ";
}
